@charset "utf-8";
@import url("hibernate/css/hibernate.css");

div.note table,
div.tip table,
div.important table,
div.caution table,
div.warning table {
    border: none;
}
div.note th,
div.tip th,
div.important th,
div.caution th,
div.warning th {
	background-color: inherit;
}
div.note table td img,
div.tip table td img,
div.important table td img,
div.caution table td img,
div.warning table td img {
	display: none;
}

body {
	max-width: 1000px;
	font-size: 14px;
}